# MSc HPC
# Parallel Design Patterns
# Coursework
# Exam no. B063622
#
# Git ignore list for top-level directory.
#

# OSX housekeeping
.DS_Store

# Object files
*.o

# Dependency lists
*.d

# The application
squirrels

# Batch output
morar.sh.*

# Doxygen output
doxygen

